---
title: "Hephaestionas Stavrou (Ηφαιστίωνας Σταύρου)"
layout: index
---

<div class="index index-blog">
  <p>Here you will find samples of my work.  For commissions, refer
    to <a href="/author/">my about</a> page.</p>
</div>

<div class="index index-blog">
  <div class="index-flex">
	{% assign paintings = site.paintings | sort: "date" | reverse %}
	{% for i in paintings %}
	<div class="index-flex-item">
	  <a class="image-link" href="{{ i.url | prepend: site.baseurl }}">
		<img src="{{ i.image | prepend: "/images/paintings/" | absolute_url }}">
	  </a>
	</div>
	{% endfor %}
  </div>

  <!-- <div class="button index-blog-redirection-button">
   !--   <a href="/paintings/">All paintings</a>
   !-- </div> -->
</div>
