---
layout: index
permalink: /paintings/
title: Collection of Paintings
excerpt: "Pictures of paintings on canvas"
---

<div class="index index-blog">
	<div class="index-flex">
		{% assign paintings = site.paintings | sort: "date" | reverse %}
		{% for painting in paintings %}
		<div class="index-flex-item">
			<a class="image-link" href="{{ painting.url | prepend: site.baseurl }}">
				<img src="{{ painting.image | prepend: "/images/paintings/" | absolute_url }}">
			</a>
		</div>
		{% endfor %}
	</div>
</div>
