<footer class="footer">
	<div class="footer-block">
		Email: <a href="mailto:art@hephaestionas.com">art@hephaestionas.com</a>
	</div>

	<div class="footer-block">
		<p>(c) 2016-{{ site.time | date: '%Y' }} {{ site.title }}. All
		rights reserved. Όλα τα δικαιώματα διατηρούνται.</p>
	</div>
</footer>
