<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    {% seo %}

	<!-- Style sheets -->
	<link rel="stylesheet" href="{{ '/assets/css/style.css' | absolute_url }}">
	<link rel="stylesheet" type="text/css" href="{{ '/assets/css/style-print.css' | absolute_url }}" media="print">

</head>
