<div class="nextprev clearfix">
  {% if page.next.url %}
    <div class="nextprev-item">
      <span class="nextprev-link">Next:</span><a class="next" href="{{ page.next.url }}">{{ page.next.title }}</a>
    </div>
  {% endif %}
  {% if page.previous.url %}
    <div class="nextprev-item">
      <span class="nextprev-link">Previous:</span><a class="prev" href="{{ page.previous.url }}">{{ page.previous.title }}</a>
    </div>
  {% endif %}
  {% if page.index %}
    <div class="nextprev-item">
      <span class="nextprev-link">All items:</span> <a href="{{ page.index }}">{{ page.group }}</a>
    </div>
  {% endif %}
</div>
