{% assign links = site.data.social %}

<ul>
{% for i in links %}
<li>
  <a class="image-link" href="{{ i.url }}">
    <img alt="{{ i.name }}" src="{{ i.svg | prepend: '/assets/svg/' | append: '.svg'}}" class="s-icon" />
  </a>
</li>
{% endfor %}
</ul>
