.footer {
    @include desktop {
		max-width: $measure-xl;
        position: relative;
        margin-left: calc(calc(100% / 5) + #{$vertical-rhythm-2}); // 100% / 5 is the width of the .infobar
    }

    font-size: $ssize;
    color: var(--prot-col-basefgalt);
    padding: $space-1;
}

.footer-block {
    padding: 0 0 $space-0;

    + .footer-block {
        padding: $space-0 0;
        border-top: 1px dotted var(--prot-col-basefgalt);
    }
}
