.infobar {
    @include desktop {
        position: fixed;
        top: 0;
        left: 0;
        bottom: 0;
        width: calc(100% / 5);
        background: var(--prot-col-brandbg);
    }

    background: var(--prot-col-basebgalt);
    color: var(--prot-col-brandfg);
    font-family: $font-family-ui;
}

.infobar-inner {
    @include desktop {
        position: absolute;
        right: $space-1;
        left: $space-1;
        bottom: $space-1;
    }

    max-width: $measure;
    margin: 0 auto;
    padding: $space-1;
}

.infobar-header {
    @include desktop {
        margin-bottom: $vertical-rhythm-0;
    }

    padding: 0;
    margin: 0;
}

.infobar-navigation {
    @include desktop {
        padding: 0;
    }

    padding: $space-1 0;

    ul {
        @include desktop {
            display: block;
            margin: 0;
        }

        display: inline;
        list-style-type: none;
        margin: $space-0 0 0;
        padding: 0;

        li {
            @include desktop {
                display: block;
                line-height: $vertical-rhythm-0;

                + li {
                    margin-top: $space-0;
                }
            }

            display: inline-block;
            line-height: $space-2;
            margin-right: $space-0;

            &:last-child {
                margin-right: 0;
                padding-right: 0;
            }
        }
    }
}

.infobar-s-navigation {
    @include tablet {
        margin: $space-1 0 0;
    }

    margin: 0;
    
    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
    }

    li {
        display: inline-block;
    }

    .s-icon {
        @include desktop {
            width: 24px;
            height: 24px;
            margin-right: 0;
        }

        display: inline-block;
        width: 28px;
        height: 28px;
        margin-right: $space-0;
    }
}
