.clearfix {
	@extend %clearfix;
}

body {
	display: -ms-flexbox;
	display: flex;
	-ms-flex-direction: column;
	flex-direction: column;
	min-height: 100vh;
}

main {
	-ms-flex: 1 0 auto;
	flex: 1 0 auto;
}

.container {
	@include desktop {
		max-width: $measure-xl;
		position: relative;
		margin-left: calc(calc(100% / 5) + #{$vertical-rhythm-2}); // 100% / 5 is the width of the .infobar
	}

	margin: $vertical-rhythm-0 auto;
}
