a:not(.image-link) {
    color: var(--prot-col-baselinkfg);
    text-decoration: underline;

    &:hover,
    &:focus {
        background: var(--prot-col-baselinkfghover);
        color: var(--prot-col-basebg);
        outline: none;
        text-decoration: none;
    }

    &:visited {
        color: var(--prot-col-baselinkfgalt);

        &:hover,
        &:focus {
            background: var(--prot-col-baselinkfgalthover);
            color: var(--prot-col-basebg);
        }
    }

    // Brand styles
    .infobar & {
        color: var(--prot-col-brandlink);
        text-decoration: none;

        &:hover,
        &:focus {
            background: var(--prot-col-brandlink);
            color: var(--prot-col-brandbg);
        }
    }

    .button &,
    .index-rss &,
    &[href^="#fn"] {
        text-decoration: none;
    }

    // Skip to content
    &.skip-link {
        background: var(--prot-col-green-alt) !important;
        color: var(--prot-col-basebg) !important;

        &:hover {
            background: var(--prot-col-cyan-alt) !important;
        }
    }
}

.imagelink {
    opacity: 1;

    &:hover,
    &:focus {
        opacity: 0.6;
    }
}
