.painting-image {
    @include tablet {
        display: block;
        margin-left: auto;
        margin-right: auto;
    }

    @include desktop {
        max-width: 75%;
    }
    
	box-shadow: 0 2px 4px var(--prot-col-shadow);
	margin-bottom: $vertical-rhythm-2;
}

.painting-meta {
	background: var(--prot-col-basebgalt);
	padding: $vertical-rhythm-1;
}

.painting-meta-row {
	@extend %clearfix;
}

.painting-meta-key {
	@include tablet {
		display: table-cell;
		padding: 0 $space-1 0 0;
		margin: 0;
		min-width: 8em;		
		color: var(--prot-col-basefgalt);
	}

	display: inline;
}

.painting-meta-value {
	@include tablet {
		display: table-cell;
	}

	display: inline;
}

.painting-meta-value-special {
	color: var(--prot-col-red-alt);
}
