@media print {
	@page  {
		margin: 2cm;
	}

	.infobar,
	.guestbox,
	.nextprev,
	.mediaframe,
	.reversefootnote,
	.print-note,
	.footer {
		display: none;
	}

	body {
		display: block;
		margin: 0 auto;
		padding: 0;
		width: 100%;
	}

	.post {
		background: #ffffff;
		color: #000000;
		font-family: sans-serif;
	}

	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		color: #000000 !important;
		font-family: serif;
		page-break-after: avoid;
	}

	a {
		font-weight: 700;
		color: #000000 !important;

		&::before {
			content: '[';
			font-weight: 400;
		}

		&::after {
			content: '](' attr(href) ')';
			font-weight: 400;
			word-break: break-all;
		}

		&[href^="/"]::after {
			content: '](https://hephaestionas.com' attr(href) ')';
			font-weight: 400;
			word-break: break-all;
		}

		&[href^="#fn"]::after {
			content: ']';
			font-weight: 400;
		}
	}

	pre,
	code {
		background: none;
		color: #000000;
		font-family: monospace;
	}

	pre.highlight code span,
	.highlighter-rouge {
		background: none;
		color: #000000 !important;
	}

	p,
	li {
		code {
			background: none;
			color: #000000;
		}
	}

	time,
	.post-header-meta {
		color: #000000 !important;
	}

	.print-meta {
		display: block;
	}

	.print-section {
		page-break-before: always;
	}
}
