// Scale and measures
// ==================

// Major second (ratio is X * 1.125)
// NOTE responsive font sizes under mixins section
$xxxlsize: 1.602rem;
$xxlsize: 1.424rem;
$xlsize: 1.266rem;
$lsize: 1.125rem;
$msize: 1rem;
$ssize: 0.889rem;
$xssize: 0.79rem;
$xxssize: 0.702rem;

// Homepage and any greeter page
$impact-text-s: 1.802rem;
$impact-text-m: 2.027rem;
$impact-text-l: 2.281rem;
$impact-text-xl: 2.566rem;

// Space
// -----

// White space
$space-0: 0.5rem;
$space-1: 1rem;
$space-2: 2rem;
$space-3: 3rem;

// Typographic spacing
$base-font-size: 16px; // The de facto standard is 16px
$line-height: 1.266; // Equal to $xlsize
$heading-line-height: 1.125; // Equal to $lsize
$vertical-rhythm-0: #{$line-height}rem;
$vertical-rhythm-1: #{$line-height * 1.5}rem;
$vertical-rhythm-2: #{$line-height * 2.5}rem;
$vertical-rhythm-3: #{$line-height * 3.5}rem;

// Page measure
$measure: 34rem;
$measure-l: $measure + 8;
$measure-xl: $measure + 18;

// Viewports
$tablet: 44.375em;
$desktop: 75em;

// Typography
// ==========

// Font stacks
// -----------
$font-stack-sans: 'Noto Sans', sans-serif;
$font-stack-serif: 'Noto Serif', serif;
$font-stack-mono: 'Noto Mono', monospace;

$font-family-body: $font-stack-sans;
$font-family-heading: $font-stack-serif;
$font-family-ui: $font-stack-sans;
$font-family-code: $font-stack-mono;

// Functions
// =========

// Mixins
// ------

@mixin tablet {
    @media screen and (min-width: #{$tablet}) {
        @content;
    }
}

@mixin desktop {
    @media screen and (min-width: #{$desktop}) {
        @content;
    }
}

@mixin fluid-width-measure {
    @include tablet {
        max-width: $measure-l;
    }

    @include desktop {
        max-width: $measure-xl;
    }

    display: block;
    max-width: $measure;
    margin: 0 auto;
}

// Global placeholders
// Placeholders are normally defined within the stylesheet => DRY
// --------------------------------------------------------------
%clearfix {
    &::before {
        content: '';
        display: table;
    }

    &::after {
        clear: both;
        content: '';
        display: table;
    }
}

%button {
    a {
        display: inline-block;
        color: var(--prot-col-baselinkfg);
        padding: $space-0 $space-1;
        border: 1px solid var(--prot-col-baselinkfg);

        &:hover,
        &:focus {
            background: var(--prot-col-baselinkfghover);
            color: var(--prot-col-basebg);
            border-color: var(--prot-col-baselinkfghover);
        }
    }
}
