---
layout: default
---

<article class="post">

	<div class="post-header">
		<h1>{{ page.title }}</h1>

		{% if page.subtitle %}
		  <h2 class="subtitle">{{ page.subtitle }}</h2>
		{% endif %}
		<div class="post-header-meta">
			<time datetime="{{ page.date | date_to_xmlschema }}">{{ page.date | date: site.date_format }}</time>
		</div>
	</div>

	<div class="post-body">
      <img class="painting-image" src="/images/{{ page.type}}/{{page.image }}">
	</div>

    {% if page.painting %}
	<div class="painting-meta highlight">
      {% if page.painting.material %}
		<div class="painting-meta-row"><span class="painting-meta-key">Material:</span> <span class="painting-meta-value">{{ page.painting.material }}</span></div>
        {% endif %}
		{% if page.painting.dimensions %}
		<div class="painting-meta-row"><span class="painting-meta-key">Dimensions:</span> <span class="painting-meta-value">{{
		page.painting.dimensions.height }}x{{
		page.painting.dimensions.width }} cm (height ×
		    width)</span></div>
        {% endif %}
		<div class="painting-meta-row"><span class="painting-meta-key">Date:</span> <span class="painting-meta-value">{{ page.painting.produced }}</span></div>
		{% if page.painting.notice %}
        {% if page.painting.notice == 'Unavailable' %}
			<div class="painting-meta-row"><span class="painting-meta-key">Notice:</span> <span class="painting-meta-value
			painting-meta-value-special">{{ page.painting.notice}}</span></div>
            {% else %}
			<div class="painting-meta-row"><span class="painting-meta-key">Notice:</span> <span class="painting-meta-value">{{
			    page.painting.notice}}</span></div>
            {% endif %}
        {% elsif page.painting.price %}
            <div class="painting-meta-row"><span class="painting-meta-key">Price:</span> <span class="painting-meta-value painting-meta-value-special">€{{ page.painting.price }}</span></div>
		{% else %}
		{% endif %}
	</div>
    {% endif %}

</article>

<div class="post-footer">

	<div class="post-footer-inner">
		{% include nextprev.html %}
	</div>

</div>
